PORT=3000
API_PREFIX=api

DATABASE_URL=postgres://elearn:elearn@localhost:5432/elearn
DRIZZLE_MIGRATIONS_DIR=./drizzle/migrations

REDIS_URL=redis://localhost:6379

AUTH_SESSION_TTL_SEC=604800
AUTH_COOKIE_NAME=sid
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_DOMAIN=

FRONTEND_URL=http://localhost:5173

MEDIA_MAX_UPLOAD_BYTES=52428800
